.FlightList-item {
    display: flex;
    align-items: left; /* Keeps items aligned vertically in the middle */
    justify-content: space-between; /* Spaces out the children */
    border: 1px solid #636060;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #575757;
  }
  
  .small-logo {
    width: 75px; /* or any size you want */
    height: auto; /* to maintain the aspect ratio */
  }
  
  .airlineDetails {
    flex-grow: 1; /* Allows details to grow and take up remaining space */
    padding-right: 20px; /* Adds some spacing to the right of the details */
  }
  
  /* The .flightTimes class seems to be intended to contain departure and arrival times.
  You can ensure they are laid out horizontally by also applying flex to them: */
  
  .flightTimes {
    display: flex;
    justify-content: space-between; /* This will separate the departure and arrival times */
  }
  